{% extends 'base.html.twig' %}

{% block javascripts %}

    <script>
              var items = [];
        {% for item in items %}
            items.push({
                id: {{ item.id }},
                priority: {{ item.priority|default(0) }}
            });
        {% endfor %}
        var baseUrl = '{{ app.request.getSchemeAndHttpHost() }}';


    </script>
    <script src={{ asset('build/item_list.js') }}>

    </script>

{% endblock %}

{%  block body %}

        <div class="row">
            <div class="col-md-12">

                <span>This is Your backlog</span>
                <div id="add_item" class="btn pull-right">
                    <a href="{{ path('add_backlog_item') }}">Add Item</a>
                </div>
            </div>

        </div>

<div class="row">
    <div class="col-md-12">
        {{ form(searchForm) }}
    </div>
</div>

        <div class="row">
            <div class="col-md-12">
                <table class="table" >
                    <thead>
                    <tr>
                        <th>Id:</th>
                        <th>Name:</th>
                        <th>{{ knp_pagination_sortable(items, 'Created at', 'Items.createdAt') }}</th>
                        <th>Estimate</th>
                        <th>Epic</th>
                        <th>Labels</th>
                        <th>{{ knp_pagination_sortable(items, 'Status', 'Items.status') }}</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody id="items">
                    {% for item in items %}
                        <tr>
                            <td>
                                {{ item.id }}
                            </td>
                            <td>
                                {{ item.name }}
                            </td>
                            <td>
                                {{ item.createdAt|date('Y-m-d h:i:s') }}
                            </td>
                            <td>
                                {{ item.estimate }}
                            </td>
                            <td>
                                {% if item.epic %}
                                <span style="color: {{ item.epic.color }}">{{ item.epic.name }}</span>
                                {% endif %}
                            </td>
                            <td>
                                {% for label in item.labels %}
                                    <span style="color: {{ label.color }}">{{ label.name }}</span>
                                {% endfor %}
                            </td>
                            <td>
                                {{ item.status }}
                            </td>
                            <td>
                                <a href="{{ path('edit_item', {'id': item.id}) }}" >Edit</a>
                            </td>
                            <td>
                                <a href="{{ path('delete_item', {'id': item.id}) }}" >Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            {#<div class="col-md-12">#}
                {#{{   knp_pagination_render(items) }}#}
            {#</div>#}

        </div>


{% endblock %}
