<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('build/global.css') }}">
    </head>
    <body>


    <div id="wrapper" class="toggled">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li>
                    <a href="{{ path('epic_index') }}" >Epics</a>
                </li>
                <li>
                    <a href="{{ path('list_backlog_items') }}" >Backlog</a>
                </li>
                <li>
                    <span><a href="{{ path('fos_user_security_logout') }}" >logout</a></span>
                </li>
                <li>
                    <span><a href="{{ path('fos_user_security_login') }}" >login</a></span>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-10">
                        {% block body %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->


    {% block javascripts %}
        <script src={{ asset('build/app.js') }}>

        </script>
    {% endblock %}
    </body>
</html>
