<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('build/global.css') }}">
    </head>
    <body>
        <div class="container" >
            <div class="row">
                <div class="col-md-12">
                    <span><a href="{{ path('fos_user_security_logout') }}" >logout</a></span>
                    <span><a href="{{ path('fos_user_security_login') }}" >login</a></span>
                </div>
            </div>
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
        <script src="{{ asset('build/app.js') }}"></script>
    </body>
</html>
