{% extends 'base.html.twig' %}

{%  block body %}

        <div class="row">
            <div class="col-md-12">

                <span>Items on sprint</span>
                <span>Total points: {{ points_sum }}</span>
                {% if sprint.isFinished == true %}
                    <span>Sprint finished on {{ sprint.closedOn|date('Y-m-d h:i:s') }}</span>
                {% elseif sprint.isStarted == true %}
                    <span>Current Sprint, end on: {{ sprint.getEndDate|date('Y-m-d h:i:s') }}</span>
                    <a href="{{ path('sprint_end', {'id': sprint.id}) }}">End sprint</a>
                {% else %}
                    <a href="{{ path('sprint_start', {'id': sprint.id}) }}">Start sprint</a>
                {% endif %}
                <div class="btn pull-right">
                    <a href="{{ path('item_add') }}">Add Item</a>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Name:</th>
                        <th>Created at</th>
                        <th>Estimate</th>
                        <th>Status</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in items %}
                        <tr>
                            <td>
                                {{ item.name }}
                            </td>
                            <td>
                                {{ item.createdAt|date('Y-m-d h:i:s') }}
                            </td>
                            <td>
                                {{ item.getEstimate }}
                            </td>
                            <td>
                                {{ item.status }}
                            </td>
                            <td>
                                <a href="{{ path('item_edit', {'id': item.id}) }}" >Edit</a>
                            </td>
                            <td>
                                <a href="{{ path('item_delete', {'id': item.id}) }}" >Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>


{% endblock %}
