{% extends 'base.html.twig' %}

{% block body %}
    <h1>Epic</h1>

    <table class="table">
        <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Color</td>
            <td></td>
            <td></td>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ epic.id }}</td>
                <td>{{ epic.name }}</td>
                <td>{{ epic.color }}</td>
                <td>
                    <button class="btn">
                        <a href="{{ path('epic_edit', { 'id': epic.id }) }}">Edit</a>
                    </button>
                </td>
                <td>
                    {{ form_start(delete_form) }}
                    <input class="btn" type="submit" value="Delete">
                    {{ form_end(delete_form) }}
                </td>
            </tr>
        </tbody>
    </table>

{% endblock %}
